screenshots/
tsconfig.json
rollup/
test/
src-refactored/
coverage
.nyc_output
.tmp-compodoc-test/
tools
.travis.yml
tslint.json
codecov.yml
appveyor.yml
doc
documentation
docs
package.json.old
.github
CONTRIBUTING.md
DONTUPDATE.md
.prettierrc
CNAME
