<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#gettingStarted"><span class="fa fa-home"></span>Getting started</a>
            </h4>
        </div>
        <div id="gettingStarted" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="./"><span class="fa fa-file-text-o"></span>README</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./overview.html"><span class="fa fa-th"></span>Overview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./routes.html"><span class="fa fa-code-fork"></span>Routes</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./classes.html"><span class="fa fa-file-code-o"></span>Classes</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./injectables.html"><span class="fa fa-long-arrow-down"></span>Injectables</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#modules"><span class="fa fa-archive">
                </span>Modules</a>
            </h4>
        </div>
        <div id="modules" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="./">Module 1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./">Module 2</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#components"><span class="fa fa-cogs">
                </span>Components</a>
            </h4>
        </div>
        <div id="components" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="./">Components 1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./">Components 2</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#directives"><span class="fa fa-code">
                </span>Directives</a>
            </h4>
        </div>
        <div id="directives" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="./">Directives 1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./">Directives 2</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
