<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#gettingStarted"><span class="glyphicon glyphicon-home"></span>Getting started</a>
            </h4>
        </div>
        <div id="gettingStarted" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">README {{components}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#modules"><span class="glyphicon glyphicon-th">
                </span>Modules</a>
            </h4>
        </div>
        <div id="modules" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Module 1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Module 2</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#components"><span class="glyphicon glyphicon-folder-open">
                </span>Components</a>
            </h4>
        </div>
        <div id="components" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Components 1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Components 2</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
