<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{data.documentationMainName}} documentation</title>
        <meta name="description" content="">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/bootstrap-card.css">
        <link rel="stylesheet" href="/styles/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/app.css">
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <a href="./" class="navbar-brand">{{data.documentationMainName}} documentation</a>
        </nav>

        <div class="container-fluid">
           <div class="row">
               <div class="col-sm-2 menu">
                   {{> menu data }}
               </div>
               <div class="col-sm-10 {{#compare data.context "===" 'readme'}} readme {{/compare}} content">
                   {{#compare data.context "===" 'readme'}}
                        {{> readme data}}
                   {{/compare}}
                   {{#compare data.context "===" 'overview'}}
                        {{> overview data }}
                   {{/compare}}
                   {{#compare data.context "===" 'modules'}}
                        {{> modules data }}
                   {{/compare}}
               </div>
           </div>
       </div>

       <script src="js/jquery.min.js"></script>
       <script src="js/bootstrap.min.js"></script>

    </body>
</html>
