<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{documentationMainName}} documentation</title>
        <meta name="description" content="">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/app.css">
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <a href="./" class="navbar-brand">{{documentationMainName}} documentation</a>
        </nav>

        <div class="container-fluid">
           <div class="row">
               <div class="col-sm-2 menu">
                   {{> menu parsingData }}
               </div>
               <div class="col-sm-10 {{#compare context "===" 'readme'}} readme {{/compare}} content">
                   {{#compare context "===" 'readme'}}
                        {{{ readme }}}
                   {{/compare}}
                   {{#compare context "===" 'overview'}}
                    <h1>Overview</h1>
                    <img
                        src="graph/dependencies.svg"
                        alt="Main dependencies"
                        width="100%"/>
                   {{/compare}}
               </div>
           </div>
       </div>

       <script src="js/jquery.min.js"></script>
       <script src="js/bootstrap.min.js"></script>

    </body>
</html>
