.navbar-default .navbar-brand {
    color: #f4645f;
    text-decoration: none;
    font-size: 16px;
}

.menu ul.list li a[data-type="chapter-link"], .menu ul.list li.chapter .simple {
    color: #525252;
    border-bottom: 1px dashed rgba(0,0,0,.1);
}

.content h1, .content h2, .content h3, .content h4, .content h5 {
    color: #292e31;
    font-weight: normal;
}

.content {
    color: #4c555a;
}

a {
    color: #f4645f;
    text-decoration: underline;
}
a:hover {
    color: #f1362f;
}

.menu ul.list li:nth-child(2) {
    margin-top: 0;
}

.menu ul.list li.title a {
    color: #f4645f;
    text-decoration: none;
    font-size: 16px;
}

.menu ul.list li a {
    color: #f4645f;
    text-decoration: none;
}
.menu ul.list li a.active {
    color: #f4645f;
    font-weight: bold;
}

code {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 5px;
    background: #f0f2f1;
    border: 1px solid #f0f4f7;
    border-radius: 3px;
    color: #b93d6a;
    font-size: 13px;
    line-height: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.125);
}

pre {
    margin: 0;
    padding: 12px 12px;
    background: rgba(238,238,238,.35);
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 500;
    box-shadow: 0 1px 1px rgba(0,0,0,.125);
}

pre code.hljs {
    border: none;
    background: none;
    box-shadow: none;
}

/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax
base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
