<ol class="breadcrumb">
  <li>Directives</li>
  <li>{{name}}</li>
</ol>

<p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>{{directive.file}}</code>
</p>

{{#if directive.description}}
    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        {{{ directive.description}}}
    </p>
{{/if}}
