customElements.define('compodoc-menu', class extends HTMLElement {
    constructor() {
        super();
        this.isNormalMode = this.getAttribute('mode') === 'normal';
    }

    connectedCallback() {
        this.render(this.isNormalMode);
    }

    render(isNormalMode) {
        let tp = lithtml.html(`<nav>

        <ul class="list">
    
            <li class="title">
                <a href="index.html" data-type="index-link">todomvc-angular documentation</a>
            </li>
    
            <li class="divider"></li>
    
            ${ isNormalMode ? `<div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search">
    </div>
    ` : ''}
    
            <li class="chapter">
                <a data-type="chapter-link" href="index.html"><span class="fa fa-home"></span>Getting started</a>
                <ul class="links">
                        <li class="link">
                            <a 
                                
                                 href="overview.html" 
                                 href="overview.html" 
                                data-type="chapter-link">
                                <span class="fa fa-fw fa-th"></span>Overview
                            </a>
                        </li>
                        <li class="link">
                          <a href="index.html" data-type="chapter-link"><span class="fa fa-file-text-o"></span>README</a>
                        </li>
                        <li class="link">
                                <a href="license.html"
                            data-type="chapter-link">
                                <span class="fa fa-fw fa-file-text-o"></span>LICENSE
                            </a>
                        </li>
                        <li class="link">
                            <a href="dependencies.html"
                                data-type="chapter-link">
                                <span class="fa fa-fw fa-list"></span>Dependencies
                            </a>
                        </li>
                </ul>
            </li>
    
    
            <li class="chapter modules">
                <a data-type="chapter-link" href="modules.html">
                    <div class="menu-toggler linked" data-toggle="collapse"
                        ${ isNormalMode ? 'data-target="#modules-links"' : 'data-target="#xs-modules-links"'}>
                        <span class="fa fa-fw fa-archive"></span>
                        <span class="link-name">Modules</span>
                        <span class="fa fa-angle-down"></span>
                    </div>
                </a>
                <ul class="links collapse"
                ${ isNormalMode ? 'id="modules-links"' : 'id="xs-modules-links"'}>
                        <li class="link">
                            <a href="modules/AboutModule.html" data-type="entity-link">AboutModule</a>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#components-links-module-AboutModule-d804531423069f8c2044cc306032361f"' : 'data-target="#xs-components-links-module-AboutModule-d804531423069f8c2044cc306032361f"'}>
                                        <span class="fa fa-fw fa-cogs"></span>
                                        <span>Components</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="components-links-module-AboutModule-d804531423069f8c2044cc306032361f"' : 'id="xs-components-links-module-AboutModule-d804531423069f8c2044cc306032361f"'}>
                                            <li class="link">
                                                <a href="components/AboutComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">AboutComponent</a>
                                            </li>
                                    </ul>
                                </li>
                        </li>
                        <li class="link">
                            <a href="modules/AboutRoutingModule.html" data-type="entity-link">AboutRoutingModule</a>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#components-links-module-AboutRoutingModule-25941652c9fd7c3719f6c686f3a624d3"' : 'data-target="#xs-components-links-module-AboutRoutingModule-25941652c9fd7c3719f6c686f3a624d3"'}>
                                        <span class="fa fa-fw fa-cogs"></span>
                                        <span>Components</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="components-links-module-AboutRoutingModule-25941652c9fd7c3719f6c686f3a624d3"' : 'id="xs-components-links-module-AboutRoutingModule-25941652c9fd7c3719f6c686f3a624d3"'}>
                                            <li class="link">
                                                <a href="components/CompodocComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">CompodocComponent</a>
                                            </li>
                                            <li class="link">
                                                <a href="components/TodoMVCComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">TodoMVCComponent</a>
                                            </li>
                                    </ul>
                                </li>
                        </li>
                        <li class="link">
                            <a href="modules/AppModule.html" data-type="entity-link">AppModule</a>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#components-links-module-AppModule-55ce4aec19bd367e7364682505d6f911"' : 'data-target="#xs-components-links-module-AppModule-55ce4aec19bd367e7364682505d6f911"'}>
                                        <span class="fa fa-fw fa-cogs"></span>
                                        <span>Components</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="components-links-module-AppModule-55ce4aec19bd367e7364682505d6f911"' : 'id="xs-components-links-module-AppModule-55ce4aec19bd367e7364682505d6f911"'}>
                                            <li class="link">
                                                <a href="components/AppComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">AppComponent</a>
                                            </li>
                                    </ul>
                                </li>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#injectables-links-module-AppModule-55ce4aec19bd367e7364682505d6f911"' : 'data-target="#xs-injectables-links-module-AppModule-55ce4aec19bd367e7364682505d6f911"'}>
                                        <span class="fa fa-fw fa-long-arrow-down"></span>
                                        <span>Injectables</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="injectables-links-module-AppModule-55ce4aec19bd367e7364682505d6f911"' : 'id="xs-injectables-links-module-AppModule-55ce4aec19bd367e7364682505d6f911"'}>
                                            <li class="link">
                                                <a href="injectables/TodoStore.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules"}>TodoStore</a>
                                            </li>
                                    </ul>
                                </li>
                        </li>
                        <li class="link">
                            <a href="modules/AppRoutingModule.html" data-type="entity-link">AppRoutingModule</a>
                        </li>
                        <li class="link">
                            <a href="modules/FooterModule.html" data-type="entity-link">FooterModule</a>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#components-links-module-FooterModule-4e191cecda8c3d37ff4e026741ad4b67"' : 'data-target="#xs-components-links-module-FooterModule-4e191cecda8c3d37ff4e026741ad4b67"'}>
                                        <span class="fa fa-fw fa-cogs"></span>
                                        <span>Components</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="components-links-module-FooterModule-4e191cecda8c3d37ff4e026741ad4b67"' : 'id="xs-components-links-module-FooterModule-4e191cecda8c3d37ff4e026741ad4b67"'}>
                                            <li class="link">
                                                <a href="components/FooterComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">FooterComponent</a>
                                            </li>
                                    </ul>
                                </li>
                        </li>
                        <li class="link">
                            <a href="modules/HeaderModule.html" data-type="entity-link">HeaderModule</a>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#components-links-module-HeaderModule-dbb430531d4e5c57116a0fe2ca03a303"' : 'data-target="#xs-components-links-module-HeaderModule-dbb430531d4e5c57116a0fe2ca03a303"'}>
                                        <span class="fa fa-fw fa-cogs"></span>
                                        <span>Components</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="components-links-module-HeaderModule-dbb430531d4e5c57116a0fe2ca03a303"' : 'id="xs-components-links-module-HeaderModule-dbb430531d4e5c57116a0fe2ca03a303"'}>
                                            <li class="link">
                                                <a href="components/HeaderComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">HeaderComponent</a>
                                            </li>
                                    </ul>
                                </li>
                        </li>
                        <li class="link">
                            <a href="modules/HomeModule.html" data-type="entity-link">HomeModule</a>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#components-links-module-HomeModule-46a64e4b5573f20021ef984444a5f202"' : 'data-target="#xs-components-links-module-HomeModule-46a64e4b5573f20021ef984444a5f202"'}>
                                        <span class="fa fa-fw fa-cogs"></span>
                                        <span>Components</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="components-links-module-HomeModule-46a64e4b5573f20021ef984444a5f202"' : 'id="xs-components-links-module-HomeModule-46a64e4b5573f20021ef984444a5f202"'}>
                                            <li class="link">
                                                <a href="components/HomeComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">HomeComponent</a>
                                            </li>
                                    </ul>
                                </li>
                        </li>
                        <li class="link">
                            <a href="modules/HomeRoutingModule.html" data-type="entity-link">HomeRoutingModule</a>
                        </li>
                        <li class="link">
                            <a href="modules/ListModule.html" data-type="entity-link">ListModule</a>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#components-links-module-ListModule-0ca13adefb71461ce6b80d2c5acae47e"' : 'data-target="#xs-components-links-module-ListModule-0ca13adefb71461ce6b80d2c5acae47e"'}>
                                        <span class="fa fa-fw fa-cogs"></span>
                                        <span>Components</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="components-links-module-ListModule-0ca13adefb71461ce6b80d2c5acae47e"' : 'id="xs-components-links-module-ListModule-0ca13adefb71461ce6b80d2c5acae47e"'}>
                                            <li class="link">
                                                <a href="components/ListComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">ListComponent</a>
                                            </li>
                                    </ul>
                                </li>
                        </li>
                        <li class="link">
                            <a href="modules/TodoModule.html" data-type="entity-link">TodoModule</a>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#components-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"' : 'data-target="#xs-components-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"'}>
                                        <span class="fa fa-fw fa-cogs"></span>
                                        <span>Components</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="components-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"' : 'id="xs-components-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"'}>
                                            <li class="link">
                                                <a href="components/TodoComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">TodoComponent</a>
                                            </li>
                                    </ul>
                                </li>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#directives-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"' : 'data-target="#xs-directives-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"'}>
                                        <span class="fa fa-fw fa-code"></span>
                                        <span>Directives</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="directives-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"' : 'id="xs-directives-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"'}>
                                            <li class="link">
                                                <a href="directives/DoNothingDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">DoNothingDirective</a>
                                            </li>
                                    </ul>
                                </li>
                                <li class="chapter inner">
                                    <div class="simple menu-toggler" data-toggle="collapse"
                                        ${ isNormalMode ? 'data-target="#pipes-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"' : 'data-target="#xs-pipes-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"'}>
                                        <span class="fa fa-fw fa-plus"></span>
                                        <span>Pipes</span>
                                        <span class="fa fa-angle-down"></span>
                                    </div>
                                    <ul class="links collapse"
                                        ${ isNormalMode ? 'id="pipes-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"' : 'id="xs-pipes-links-module-TodoModule-f511f1dcb48009f273b93f18e4b27268"'}>
                                            <li class="link">
                                                <a href="pipes/FirstUpperPipe.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">FirstUpperPipe</a>
                                            </li>
                                    </ul>
                                </li>
                        </li>
                </ul>
            </li>
    
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                        ${ isNormalMode ? 'data-target="#components-links"' : 'data-target="#xs-components-links"'}>
                            <span class="fa fa-fw fa-cogs"></span>
                            <span>Components</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse"
                        ${ isNormalMode ? 'id="components-links"' : 'id="xs-components-links"'}>
                                <li class="link">
                                    <a href="components/EmptyComponent.html" data-type="entity-link">EmptyComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/EmptyParentComponent.html" data-type="entity-link">EmptyParentComponent</a>
                                </li>
                        </ul>
                    </li>
    
    
            <li class="chapter">
                <div class="simple menu-toggler" data-toggle="collapse"
                ${ isNormalMode ? 'data-target="#classes-links"' : 'data-target="#xs-classes-links"'}>
                    <span class="fa fa-fw fa-file-code-o"></span>
                    <span>Classes</span>
                    <span class="fa fa-angle-down"></span>
                </div>
                <ul class="links collapse"
                ${ isNormalMode ? 'id="classes-links"' : 'id="xs-classes-links"'}>
                        <li class="link">
                            <a href="classes/StringIndexedItems.html" data-type="entity-link">StringIndexedItems</a>
                        </li>
                        <li class="link">
                            <a href="classes/Todo.html" data-type="entity-link">Todo</a>
                        </li>
                </ul>
            </li>
    
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                            ${ isNormalMode ? 'data-target="#injectables-links"' : 'data-target="#xs-injectables-links"'}>
                            <span class="fa fa-fw fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse"
                        ${ isNormalMode ? 'id="injectables-links"' : 'id="xs-injectables-links"'}>
                                <li class="link">
                                    <a href="injectables/EmitterService.html" data-type="entity-link">EmitterService</a>
                                </li>
                                <li class="link">
                                    <a href="injectables/EmptyService.html" data-type="entity-link">EmptyService</a>
                                </li>
                                <li class="link">
                                    <a href="injectables/TodoStore.html" data-type="entity-link">TodoStore</a>
                                </li>
                        </ul>
                    </li>
    
            <li class="chapter">
                <div class="simple menu-toggler" data-toggle="collapse"
                ${ isNormalMode ? 'data-target="#interceptors-links"' : 'data-target="#xs-interceptors-links"'}>
                    <span class="fa fa-fw fa-exchange"></span>
                    <span>Interceptors</span>
                    <span class="fa fa-angle-down"></span>
                </div>
                <ul class="links collapse"
                ${ isNormalMode ? 'id="interceptors-links"' : 'id="xs-interceptors-links"'}>
                        <li class="link">
                            <a href="interceptors/NoopInterceptor.html" data-type="entity-link">NoopInterceptor</a>
                        </li>
                </ul>
            </li>
    
            <li class="chapter">
                <div class="simple menu-toggler" data-toggle="collapse"
                    ${ isNormalMode ? 'data-target="#interfaces-links"' : 'data-target="#xs-interfaces-links"'}>
                    <span class="fa fa-fw fa-info"></span>
                    <span>Interfaces</span>
                    <span class="fa fa-angle-down"></span>
                </div>
                <ul class="links collapse"
                ${ isNormalMode ? ' id="interfaces-links"' : 'id="xs-interfaces-links"'}>
                        <li class="link">
                            <a href="interfaces/ClockInterface.html" data-type="entity-link">ClockInterface</a>
                        </li>
                        <li class="link">
                            <a href="interfaces/InterfaceWithIndexable.html" data-type="entity-link">InterfaceWithIndexable</a>
                        </li>
                        <li class="link">
                            <a href="interfaces/LabelledTodo.html" data-type="entity-link">LabelledTodo</a>
                        </li>
                        <li class="link">
                            <a href="interfaces/SearchFunc.html" data-type="entity-link">SearchFunc</a>
                        </li>
                        <li class="link">
                            <a href="interfaces/StringArray.html" data-type="entity-link">StringArray</a>
                        </li>
                        <li class="link">
                            <a href="interfaces/TimeInterface.html" data-type="entity-link">TimeInterface</a>
                        </li>
                        <li class="link">
                            <a href="interfaces/superString.html" data-type="entity-link">superString</a>
                        </li>
                </ul>
            </li>
    
    
            <li class="chapter">
                <div class="simple menu-toggler" data-toggle="collapse"
                ${ isNormalMode ? 'data-target="#miscellaneous-links"' : 'data-target="#xs-miscellaneous-links"'}>
                    <span class="fa fa-fw fa-cubes"></span>
                    <span>Miscellaneous</span>
                    <span class="fa fa-angle-down"></span>
                </div>
                <ul class="links collapse"
                ${ isNormalMode ? 'id="miscellaneous-links"' : 'id="xs-miscellaneous-links"'}>
                        <li class="link">
                          <a href="miscellaneous/enumerations.html" data-type="entity-link">Enums</a>
                        </li>
                        <li class="link">
                          <a href="miscellaneous/functions.html" data-type="entity-link">Functions</a>
                        </li>
                        <li class="link">
                          <a href="miscellaneous/typealiases.html" data-type="entity-link">Type aliases</a>
                        </li>
                        <li class="link">
                          <a href="miscellaneous/variables.html" data-type="entity-link">Variables</a>
                        </li>
                </ul>
            </li>
    
                <li class="chapter">
                    <a data-type="chapter-link" href="routes.html"><span class="fa fa-fw fa-code-fork"></span>Routes</a>
                </li>
    
            <li class="chapter">
                <a data-type="chapter-link" href="coverage.html"><span class="fa fa-fw fa-tasks"></span>Documentation coverage</a>
            </li>
    
            <li class="divider"></li>
            <li class="copyright">
                    Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                                <img data-src="images/compodoc-vectorise.svg" class="img-responsive" data-type="compodoc-logo">
                    </a>
            </li>
    
        </ul>
    
    </nav>`);
        this.innerHTML = tp.strings;
    }
});