<ol class="breadcrumb">
  <li>{{t "miscellaneous" }}</li>
  <li>{{t "enumerations" }}</li>
</ol>

{{> index-misc list=miscellaneous.enumerations}}

{{#each miscellaneous.groupedEnumerations}}
    <h3>{{@key}}</h3>
    {{> block-enum enums=this title='false' depth=../depth}}
{{/each}}
