<ol class="breadcrumb">
  <li>Miscellaneous</li>
  <li>Enumerations</li>
</ol>

{{> index-misc list=miscellaneous.enumerations}}

{{#each miscellaneous.groupedEnumerations}}
    <h3>{{@key}}</h3>
    {{> block-enum enums=this title='false'}}
{{/each}}
