<ol class="breadcrumb">
  <li>{{t "miscellaneous" }}</li>
  <li>{{t "functions" }}</li>
</ol>

{{> index-misc list=miscellaneous.functions}}

{{#each miscellaneous.groupedFunctions}}
    <h3>{{@key}}</h3>
    {{> block-method methods=this title=''}}
{{/each}}
