<ol class="breadcrumb">
  <li>Miscellaneous - Type aliases</li>
</ol>

{{> index-misc list=miscellaneous.typealiases}}

{{#each miscellaneous.groupedTypeAliases}}
    <h3>{{@key}}</h3>
    {{> block-typealias typealias=this title='false'}}
{{/each}}
