<ol class="breadcrumb">
  <li class="breadcrumb-item">{{t "miscellaneous" }}</li>
  <li class="breadcrumb-item">{{t "variables" }}</li>
</ol>

{{> index-misc list=miscellaneous.variables}}

{{#each miscellaneous.groupedVariables}}
    <h3>{{@key}}</h3>
    {{> block-property properties=this title='' depth=../depth}}
{{/each}}
