<ol class="breadcrumb">
  <li class="breadcrumb-item">{{t "miscellaneous" }}</li>
  <li class="breadcrumb-item">{{t "type-aliases" }}</li>
</ol>

{{> index-misc list=miscellaneous.typealiases}}

{{#each miscellaneous.groupedTypeAliases}}
    <h3>{{@key}}</h3>
    {{> block-typealias typealias=this title='false' depth=../depth}}
{{/each}}
