<h3>Modules</h3>
<div class="container-fluid modules">
    <div class="row">
        {{#each modules}}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{name}}</h4>
                </div>
                <div class="card-block">
                    <p>
                        Configuration :
                    </p>
                    <p>

                    </p>
                    <footer class="text-center">
                        <a href="./modules/{{name}}.html" class="btn btn-default">Browse</a>
                    </footer>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
