<ol class="breadcrumb">
    <li>Modules</li>
</ol>
<div class="container-fluid modules">
    <div class="row">
        {{#each modules}}
            <div class="col-sm-4">
                <div class="card card-module">
                    <div class="card-header">
                        <h4 class="card-title">{{name}}</h4>
                    </div>
                    <div class="card-block">
                        {{#unless ../disableGraph}}
                            {{#if graph}}
                                <p>
                                    <object id="demo-svg" type="image/svg+xml" data="./modules/{{name}}/dependencies.svg" style="width: 100%; height: 175px;">
                                            Your browser does not support SVG
                                    </object>
                                </p>
                            {{else}}
                                <p class="no-graph">
                                    No graph available.
                                </p>
                            {{/if}}
                        {{/unless}}
                        <footer class="text-center">
                            <a href="./modules/{{name}}.html" class="btn btn-default">Browse</a>
                        </footer>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
