<h1>Overview</h1>
<div class="text-center">
    <img
        src="graph/dependencies.svg"
        alt="Main dependencies"
        width="100%"/>
</div>
<div class="container-fluid overview">
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title"><span class="fa fa-archive"></span></h4>
                <p class="card-text">4 modules</p>

              </div>
              <div class="card-footer text-muted">
                <a href="./modules.html" class="btn btn-default">Browse</a>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title"><span class="fa fa-cogs"></span></h4>
                <p class="card-text">2 components</p>

              </div>
              <div class="card-footer text-muted">
                <a href="./components.html" class="btn btn-default">Browse</a>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title"><span class="fa fa-code"></span></h4>
                <p class="card-text">1 directive</p>

              </div>
              <div class="card-footer text-muted">
                <a href="#" class="btn btn-default">Browse</a>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title"><span class="fa fa-code-fork"></span></h4>
                <p class="card-text">5 routes</p>

              </div>
              <div class="card-footer text-muted">
                <a href="#" class="btn btn-default">Browse</a>
              </div>
            </div>
        </div>
    </div>
</div>
