<ol class="breadcrumb">
  <li>Pipes</li>
  <li>{{name}}</li>
</ol>

<p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>{{pipe.file}}</code>
</p>

{{#if pipe.description}}
    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        {{{pipe.description}}}
    </p>
{{/if}}
