<h3>{{t "pipes" }}</h3>
<div class="container-fluid pipes">
    <div class="row">
        {{#each pipes}}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{name}}</h4>
                </div>
                <div class="card-block">
                    <footer class="text-center">
                        <a href="./pipes/{{name}}.html" class="btn btn-default">{{t "browse" }}</a>
                    </footer>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
