<li [class.completed]="todo.completed" [class.editing]="todo.editing">
    <div class="view">
        <input class="toggle" type="checkbox" (click)="toggleCompletion(todo)" [checked]="todo.completed">
        <label (dblclick)="editTodo(todo)" donothing>{{todo.title | firstUpper}}</label>
        <button class="destroy" (click)="remove(todo)"></button>
    </div>
    <input class="edit" *ngIf="todo.editing"
           [value]="todo.title" #editedtodo
           (blur)="stopEditing(todo, editedtodo.value)"
           (keyup.enter)="updateEditingTodo(todo, editedtodo.value)"
           (keyup.escape)="cancelEditingTodo(todo)">
</li>
